header{
  padding-left: 0px;
  padding-right: 0px;
  background-color: #555555;
  font-family: 'Cinzel', serif;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
}

header h1 {
  display: flex;
  justify-content: center;
  font-size: 70px;
}

header h3{
  justify-content: center;
  display: flex;
}

#coatOfArms{
  height: 100px;
  width: 150px;
  padding-top: 25px;
  padding-left: 25px;
}

.jumbotron{
  display: flex;
  background-image:url(https://images.pexels.com/photos/2046779/pexels-photo-2046779.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  //background-size: cover;
  background-position: center;
  height:400px;
  width: 1500px;
}

#selection{
  color: #AAAAAA;
  font-family: 'Cinzel', serif;
}
.container li{
  height: 100px;
  color: white;
  font-size: 60px;
}
#commander{
  background-image:url(https://publicdomainvectors.org/tn_img/KnightHorseback4.png);
}

#crest{
  height: 100px;
  margin-top: 20px;
  padding-left: 20px;
  background-size: 100%;
  background-position: center;
}

#map{
  height: 100px;
  margin-top: 20px;
}

html body{
  background-color: #222222;
  margin: 0px;
  padding: 0px;
}
