header {
  padding: 25px;
  background-color: #555555;
}

#coatOfArms{
  height: 40px;
  width: 40px;
}

.jumbotron{
  display: flex;
  background-image:url(https://imageric.s3.eu-west-1.amazonaws.com/photos/hires/list-free-stock-photo-sky-clouds-landscape-outdoors-scenic-mountain-travel-tree-grass-rural.jpg);
  background-size: cover;
  height: 700px;
}
